/* Home Page */

.home-button-style {
  width: 30%;
  display: flex;
  color: #e8f1f5;
  font-size: 2.5rem;
}

.custom-background-image {
  background-image: url('/image/home.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  animation: blur 6s ease 0s;
  -webkit-animation: blur 6s ease 0s;
  -moz-animation: blur 6s ease 0s;
}

@keyframes blur {
  0%,
  90% {
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
  }
  50% {
    -webkit-filter: blur(50px);
    -moz-filter: blur(50px);
    -o-filter: blur(50px);
    -ms-filter: blur(50px);
  }
}

.start-text {
  font-size: 6rem;
}

.letter-spacing {
  letter-spacing: 3px;
}

/* Other Pages */

.font-custom {
  font-family: Arial, Helvetica, sans-serif;
}

.w-335px {
  width: 335px;
}

.h-600px {
  height: 600px;
}

.h-700px {
  height: 700px;
}

.max-h-550px {
  max-height: 550px;
}

.bg-custom {
  background-color: #1b262c;
}

.font-color-custom {
  color: white;
}

.radius-custom {
  border-radius: 3rem;
}

.time {
  padding-top: 1rem;
  font-size: 5rem;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.w-custom {
  width: 40rem;
}

.custom-animation {
  width: 100%;
  max-width: 30rem;
  position: relative;
  display: grid;
}

.custom-animation::before {
  border: 3px solid #fafafa;
  border-radius: 100%;
  animation: 1s linear infinite alternate aberration, 5s linear infinite spin;
  padding-top: 100%;
  content: "";
  position: relative;
  pointer-events: none;
}

@keyframes aberration {
  from {
    box-shadow: 0 0 0 0 #fa26a0, 0 0 0 0 #a8ff3e;
  }
  to {
    box-shadow: 0.25rem 0.125rem 0 0 #fa26a0, -0.25rem -0.125rem 0 0 #a8ff3e;
    /* for browser */
    /* box-shadow: 0.5rem 0.25rem 0 0 #CB2918, -0.5rem -0.25rem 0 0 #56719A; */
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.alarm-bell {
  animation: infinite shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-10px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(10px, 0, 0);
  }
}

